# Dataset Validation
---

## Sanity Check

In [7]:
import json

def load_config(file_path: str = "./config.json"):
    with open(file_path) as config_file:
        data = json.load(config_file)
    return data

config = load_config("../config.json")
DBNAME = config.get("DBNAME")
HOSTNAME = config.get("HOSTNAME")
USER = config.get("USER")
PASS = config.get("PASS")
SCHEMA = config.get("SCHEMA")

In [8]:
# Basic 
import sys
import numpy as np
import scipy as sp
import pandas as pd

# SQL Engine
import psycopg2
import pandas as pd
from sqlalchemy import create_engine

# Profiling process
from tqdm import tqdm

# Warning problems in notebook
import warnings
warnings.filterwarnings('ignore')

# Reporting result
import sweetviz as sv
from dataprep.eda import create_report

In [9]:
# Load data

# Create an engine instance
alchemyEngine = create_engine(
    f'postgresql+psycopg2://{USER}:{PASS}@{HOSTNAME}/{DBNAME}', pool_recycle=3600)

# Connect to PostgreSQL server
conn = alchemyEngine.connect()

schema = SCHEMA

---
__**An Overview of the Data Warehouse**__

Let see the overview from the data that we can get from the data warehouse

---

In [10]:
date = pd.read_sql_table("dim_date", conn, schema=schema)
time = pd.read_sql_table("dim_time", conn, schema=schema)
geo = pd.read_sql_table("dim_geo", conn, schema=schema)
user = pd.read_sql_table("dim_user", conn, schema=schema)
product = pd.read_sql_table("dim_product", conn, schema=schema)
seller = pd.read_sql_table("dim_seller", conn, schema=schema)
feedback = pd.read_sql_table("dim_feedback", conn, schema=schema)
# fct_order_item = pd.read_sql_table("fct_order_items", conn, schema=schema)

In [11]:
# Collections for each dataset
datasets = [date, time, geo, user, product, seller, feedback]
names = ['date', 'time', 'geo', 'user', 'product', 'seller', 'feedback']

# Creating a DataFrame with useful information about all datasets
data_info = pd.DataFrame({})
data_info['dataset'] = names
data_info['n_rows'] = [df.shape[0] for df in datasets]
data_info['n_cols'] = [df.shape[1] for df in datasets]
data_info['null_amount'] = [df.isnull().sum().sum() for df in datasets]
data_info['qty_null_columns'] = [len([col for col, null in df.isnull().sum().items() if null > 0]) for df in datasets]
data_info['null_columns'] = [', '.join([col for col, null in df.isnull().sum().items() if null > 0]) for df in datasets]

data_info.style.background_gradient()

In [6]:
user.loc[user.customer_geo_id.isna()]

,user_key,user_name,customer_geo_id,is_current_version
196,128788,007ad549acb91673f04eac22c0568114,NaN,True
716,129308,01e0008efc8b3804e274ff934ba017c9,NaN,True
815,129407,0231f0795b8e38aeb40a26115e75722c,NaN,True
975,129567,02a2094b273efc30447d706e9fc9fceb,NaN,True
1068,129660,02da4d32a2cf298f82d850d77481da0c,NaN,True
...,...,...,...,...
93971,222563,fa3fda87f7149d65fb083ae77a611085,NaN,True
94585,223177,fbfb964c4d34ce4c6b203e0443a16ac6,NaN,True
95257,223849,fdc8b2ae6846c2c904194654d61dbdfc,NaN,True
95576,224168,fea74e188b7ba8b49cee6e279c64c91f,NaN,True
95607,224199,fec118b78b0152520c46646c7353bd7d,NaN,True

In [9]:
seller.head()

,seller_key,seller_id,seller_geo_id,is_current_version
0,1,3442f8959a84dea7ee197c632cb2df15,196,True
1,2,d1b65fc7debc3361ea86b5f14c68d2e2,71,True
2,3,ce3ad9de960102d0677a81f5d0bb7b2d,195,True
3,4,c0f3eea2e14555b6faeea3dd58c1b1c3,166,True
4,5,c0f3eea2e14555b6faeea3dd58c1b1c3,163,True

## Datamart 1

---
Order related datamart

In [4]:
QUERY = """
-- Data Mart 1 
-- Sales Trend Analysis Datamart
select 
	foi.order_id ,
	foi.order_item_id ,
	u.user_name,
	p.product_id ,
	p.product_category ,
	foi.price,
	foi.shipping_cost ,
	foi.total_payment_value 
from staging.fct_order_items foi
left outer join staging.dim_date dd on foi.order_date = dd.date_id 
left outer join staging.dim_time dt on foi.order_time = dt.time_id 
left join (
	select 
		du.user_key ,
		du.user_name
	from staging.dim_user du 
	where du.is_current_version=true
) u on foi.user_key = u.user_key
left join (
	select 
		dp.product_key ,
		dp.product_id , 
		dp.product_category 
	from staging.dim_product dp 
	where dp.is_current_version=true
) p on foi.product_key = p.product_key;
"""

In [5]:
# Init dataframe
order = pd.read_sql_query(QUERY, conn)

In [6]:
order.head().style.background_gradient()

### Understanding Data

In [ ]:
# Data preparation module loading
from dataprep.eda import create_report, plot_correlation, plot_missing, plot

# Understanding distribution
plot(order)

In [ ]:
# Finding & Handling Missing Value
plot_missing(order)

In [ ]:
# So, columns with missing value : product_category, total_payment_value -> need to find way to handle it

# First, need to see what is the prob
# Product_category

plot(order.loc[order.product_category.isna()])

In [ ]:
# Distribution not much diff, can handle using flag
order['product_category'].fillna("Other", inplace=True)

In [ ]:
order.loc[order.total_payment_value.isna()]

In [ ]:
# Only 1 item, could handle it manually
payment_val = (44990.0 + 2830.0) * 3
order.loc[order.total_payment_value.isna(), 'total_payment_value'] = payment_val

In [ ]:
# To summarize : 

def handle_missing_mart(df):
    df['product_category'].fillna("Other", inplace=True)
    payment_val = (44990.0 + 2830.0) * 3
    df.loc[df.total_payment_value.isna(), 'total_payment_value'] = payment_val
    
    return df

In [ ]:
# Reporting Result

from dataprep.eda import create_report
report = create_report(order, title='Item Transaction Data Mart')

report

## Datamart 2

---
User related datamart

In [ ]:
QUERY = """
-- RFM Analysis Datamart
-- Churn Analysis Datamart
-- CLTV = ((Average Order Value x Purchase Frequency)/Churn Rate) x Profit margin. -> churn rate + purchase frequency hitung manual nanti
select 
	u.user_name,
	EXTRACT(DAY from '2018-09-03'::timestamp - MAX(dd."date")) as recency,
	MAX(foi.lifetime_order) as frequency ,
	MAX(foi.lifetime_spending) as monetary,
	MAX(dd."date") - MIN(dd."date") as usage_days,
	MAX(foi.lifetime_spending) / MAX(foi.lifetime_order) as average_order_value,
	MAX(foi.lifetime_order) <= 1 as isChurned
from staging.fct_order_items foi
left outer join staging.dim_date dd on foi.order_date = dd.date_id 
left outer join (
	select 
		du.user_key ,
		du.user_name 
	from staging.dim_user du 
	where du.is_current_version=true
) u on foi.user_key = u.user_key
group by u.user_name 
order by 5 desc;
"""

In [ ]:
# Init dataframe
user = pd.read_sql_query(QUERY, conn)
user.info()

### Understanding Data

In [ ]:
# Understanding distribution
plot(user)

In [ ]:
# Finding & Handling Missing Value
plot_missing(user)

In [ ]:
# Understanding correlation 

plot_correlation(user)

In [ ]:
report = create_report(user, title='User Data Mart')
report

## Datamart 3

---
Product related datamart

In [ ]:
QUERY = """
-- Data mart no aggregation
select 
	foi.order_id ,
	p.product_id,
	p.product_category,
    foi.price,
	foi.total_payment_value 
from staging.fct_order_items foi 
left outer join (
	select 
		dp.product_key ,
		dp.product_id ,
		dp.product_category
	from staging.dim_product dp 
	where dp.is_current_version=true
) p on foi.product_key = p.product_key
order by 1,2;
"""

In [ ]:
# Init dataframe
prod = pd.read_sql_query(QUERY, conn)
prod.info()

### Understanding Data

In [ ]:
plot(prod)

In [ ]:
plot_missing(prod)

In [ ]:
prod_cleaned = handle_missing_mart(prod)
prod_cleaned.info()

In [ ]:
plot(prod_cleaned)